*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #eaf4f8;
}
.container-header{
    height: 6em;
    
    display: flex;
    background-color: #094D9A;
    /*justify-content: space-between;*/
    align-items: center;
    padding: 0em 2em 0em 5em;  
}
.logo{
    height: 70%;
    width: 10%;
    

}
.logo img{
    width: 100%;
    height: 100%;
    border-radius: 0.4em;
}
.tienda h1{
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 3.1em;
    color: #9CDEF9;
    margin-left: 5.5em;
    
    
}

.ingreso li {
    display: inline-block;
}

.ingreso a{
    text-decoration: none;
    padding: 0.8em;
    color: #8A9DCA;
    font-size: 1.1em;
    font-family: 'Signika Negative', sans-serif;

}

.nav-container{
    height: 4.5em;
    display: flex;
    background-color: #8A9DCA;
    justify-content: center;
    align-items: center; 
}
.nav-container li {
    display: inline-block;
    height: 1.5rem;
    
}
.nav-container a{
    text-decoration: none;
    padding: 2rem;
    color: #094D9A;
    font-size: 1.3em;
    font-family: 'Signika Negative', sans-serif;

}
.nav-container a:hover{
    color: #9CDEF9;
}

#cont-item-carousel{
   /* border: 0.5px double #094D9A;*/
    height: 80vh;
    width: 80vw;
    overflow: hidden;
    margin: 1em 2em 1em 8em;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 0.5em;
    border: 0.1em solid #094D9A;
    
   
}
.item-carousel-container{
   /* border: 1px double black;*/
    height: 100%;
    position: relative; 
        
}

.img-carousel{
    
    /*background-color: darkgoldenrod;*/
    height: 100%;
}
.imagen-container{
   /* background-color: antiquewhite;*/
    height: 85%;
    width: 60%;
    position: absolute;
    left: 17em;
    top: 1.5em; 
    border-radius: 1em;  
    ; 
}
.imagen-container img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.botones{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5em;  
}
.botones a{
    text-decoration: none;
}
.botones i{
    color: #094D9A;
    font-size: 28px;
}
.marc-titulo h2{
    color: #094D9A;
    padding-left: 2.3em;
    margin-bottom: 1em;
    font-family: 'Signika Negative', sans-serif;
}
.marcas{
   /* border: 3px solid rgb(28, 28, 95);*/
    margin-top: 0.5em;
    height: 50vh;
    width: 70vw;
    margin-left: 12em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.644);
    border-radius: 0.5em;
}

.marcas div {
    /*background-color: rgba(244, 245, 238, 0.932);*/
    width: 14em;
    height: 8em;
    border: 0.1em solid #094D9A;
    border-radius: 0.5em;
    

}
.marcas img{
    width: 100%;
    height: 100%;
    border-radius: 0.5em;
}
.produc-titulo{
    color: #094D9A;
    padding-left: 2.3em;
    margin-bottom: 1em;
    font-family: 'Signika Negative', sans-serif;
    padding-top: 2em;
    padding-bottom: 1.2em;
}
.productos-vendidos{
   /* border: 2px solid rgb(98, 197, 98);*/
    margin-top: 0.6em;
    height: 180vh;
    width: 70vw;
    margin-left: 12em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
   /* background-color: rgba(255, 255, 255, 0.644);*/
    border-radius: 0.5em;
}

.productos-vendidos div{
    background-color: rgba(255, 255, 255, 0.644);
    width: 23%;
    height: 32%;
    text-align: center;
    border-radius: 0.5em;
    border: 0.1em solid #8A9DCA;
    
}

.productos-vendidos img {
    width: 100%;
    height: 73%;
}
.precio{
    font-family: 'Signika Negative', sans-serif;
    color: #094D9A;
}
.boton-comprar{
    background-color: #094D9A;
    color: #9CDEF9;
    width: 9em;
    height: 2.1em;
    margin-top: 0.5em;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1.1em;
    border: none;
    border-radius: 0.5em;
    
}
.cont-footer{
    
    margin-top: 5em;
    border: 1px solid rgb(102, 10, 87);
    height: 30vh;
  
   
}
/*.cont-footer div h3{
    padding-top: 1em;
    
    color: #9CDEF9;

}*/
.contact{
    display: flex;
    font-family: 'Signika Negative', sans-serif;
    font-size: 1em;
   /* padding-left: 1em;*/
    margin-top: 0.8em;
   /* margin-bottom: 1.3em;*/
    color: #094D9A;
    justify-content: space-evenly;
}
/*.medio-pago{
   
    margin-top: 0.8em;
    border-radius: 0.5em;
}*/
.medio-pago p{
    font-family: 'Signika Negative', sans-serif;
    /*font-size: 1.1em;*/
    /*padding-left: 3em;
    margin-top: 0.8em;
    margin-bottom: 1.3em;*/
    color: #094D9A;
}
.derechos{
    display: flex;
    justify-content: center;
    padding-top: 6em;
    margin-top: 1em;
    
}
.derechos h5{
    font-family: 'Signika Negative', sans-serif;
    color: #094D9A;
}
.icon-menu img{
    width: 4em;
    border-radius: 0.5em;
    /*display: flex;*/   
}
.icon-menu , #check{
    display: none;
}

@media only screen and (max-width:768px){
    .container-header{
        width: 100vw;
        margin: 0;
    }
    .nav-container{
        width: 100vw; 
        margin: 0;
      
    }
    #cont-item-carousel{
        height: 50vh;
        width: 100vw;
        margin: 0.5em 0 0.5em 0;
        
         
    }
    .imagen-container{
    width: 100%;
    height: 100%;   
    left:0;
    top: 0;
    
    }
    .imagen-container img{
        border-radius: 0.5em;
        width: 100%;
    }
    .botones{
        padding: 0.5em;
    }
    .tienda h1 {
        font-size: 1em;
    }
    .logo{
        width: 40%;
        padding-left: 0;
    }
    .marcas{
        margin-left: 0;
        width: 100vw;
        height: 220vh;
        margin-bottom: 2em;
    }
    .marcas div{
        width: 100%;
        height: 12%;
        
    }
    
    .productos-vendidos{
        margin-left: 0;
        width: 100vw;
        height: 780vh;
        margin-bottom: 12em;

    }
    .productos-vendidos div{
        width: 100%;
        height: 8%;
    }
    .cont-footer{
        margin-top: 5em;
        width: 100vw;  
    }
    .checkbtn{
        display: block;
    
    }
    .icon-menu{
        display: block;
        bottom: 1em;
        margin-left: 15em; 
        position: relative; z-index: 2;
        margin-top: 2.2em; 
        margin-right: 0;       
    }
    .nav-container ul  {
        display: block;
        position: absolute; z-index: 1;
        top: 6em;
        left: -100%;
        background: #8A9DCA;
        width: 95vw;
        height: 100vh;
        
        
    }
    
    .nav-container ul li {
        padding: 2rem;
        display: flex;
        justify-content: center;
        margin: 0;
        
        
    }
    
    #check:checked ~  ul  {
    left: 0;

    }
    
}